.inline-block{
  display:inline-block;
  vertical-align:text-top;
}
.logo{
  width:23%;
  padding:1%;
}
nav .inline-block{
  width:73%;
  padding:1%;
}
ul{
  list-style-type: none;
  width:50%;
  margin-left:auto;
}
.logo{
  text-align:center;
}
